html {
    height: 100%;
  }
  
  body {
    background-color: #2590EB;
    height: 100%;
  }
  
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .file-upload {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 100px;
  }
  .wrapper .file-upload input[type=file] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: #2590EB;
  }
  .submit-btn{
    position: absolute;
    top: 0;
    z-index: 1000;
  }
  .hero-data-bg{
    background-image: url('../images/Home_Hero.jpg');
    padding: 0 !important;
    padding-top: 20px !important;
    text-align: left !important;
    padding-left: 30px !important;
    color: white !important;
  }
  .heroWrapper,h1,h5,h4{
    color: white !important;
  }
  .hero-heading{
    color: white !important;
    margin-bottom: 20px;
  }
  .searchExisting p{
    color: white !important;
    font-size: 20px;
  }
  .text-black{
    color: black !important;
  }
  .RightPanel{
    position: absolute;
    right: 0;
  }